<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link href="/css/color.css" rel="stylesheet" type="text/css">
</head>
<body>
<span th:style="${user.getColor() == 'red'}?'color:red': 'display:none'">COLOR</span>
<span th:style="${user.getColor() == 'green'}?'color:green': 'display:none'">COLOR</span>
<span th:style="${user.getColor() == 'purple'}?'color:purple': 'display:none'">COLOR</span>
<span th:style="${user.getColor() == 'blue'}?'color:blue': 'display:none'">COLOR</span>
<span th:style="${user.getColor() == 'orange'}?'color:orange': 'display:none'">COLOR</span>

<form th:method="POST" th:action="@{/users/colorAdmin}" th:object="${user}">
    <p><strong>^ Choose Color ^</strong></p>
    <select class="button-6" th:value="${user.getColor()}" name="array" th:with="array=*{array}"
            onblur='this.size=1;'
            onchange='this.size=1; this.blur();'>
        <option th:each="col : ${user.getArray()}" th:value="${col}" th:text="${col}" th:selected="${col} == ${user.getColor()}" />
    </select>
    <button  class="button-6"><span>Click</span></button>
</form>
<div>
    <div>
        <h4> All users</h4>
    </div>
    <table class="table_col">
        <colgroup>
            <col style="background:#c71588bf">
        </colgroup>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>E-mail</th>
        </tr>
            <tr th:each="user:${user.getUsers()}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getLogin()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td th:text="${user.getEmail()}"></td>
            </tr>
    </table>
    <div>
    <form th:method="DELETE" th:action="@{/users/color/admin}" th:object="${user}">
        <p><b>Enter user ID</b><br>
            <input type="text" th:field="*{id}" size="10"  minlength="1">
            <span style="color: red; font-size: 17px;" th:if="${user.isBol()}">Enter the correct ID</span>
        </p>
        <button class="button-6" id="button"><span>Delete</span></button>
    </form>
    </div>
</div>
</body>
</html>